body {
	margin: -25px 100px 100px 100px;
}
.container {
	width: 565px;
}
.hero-unit {
	background: #333333;
	color: #ffffff;
}

.icon-red {
	color: #ffffff;
}

.icon-time {
	alignment: right;
}

.btn.btn-small-tip {
	alignment: right;
}

.btn.btn-small-log {
	alignment: right;
}

.btn.btn-small {
	alignment: right;
}